aiofiles==22.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosqlite==0.18.0
altgraph==0.17.3
anndata==0.9.1
annoy==1.17.3
anyio==3.6.2
api==0.0.7
api-automation-tools==2.0.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asteval==0.9.28
astroid==2.14.2
asttokens==2.2.1
async-timeout==4.0.2
atomicwrites==1.3.0
attrs==23.1.0
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.2
black==23.1.0
bleach==6.0.0
blinker==1.6.2
Bootstrap-Flask==2.2.0
bs4==0.0.1
cached-property==1.5.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromedriver==2.24.1
chromedrivermanager==0.0.1
click==8.1.7
colorama==0.4.6
comm==0.1.2
common-decorators==0.0.1
ConfigArgParse==1.5.3
configparser==5.3.0
contourpy==1.0.7
crispy-bootstrap5==2024.2
cryptography==39.0.1
cssselect==1.2.0
csv-2-json==1.0.1
csv-convert==0.0.1
csv-converter==0.0.7
csv-dataset==3.5.0
cycler==0.11.0
darkdetect==0.8.0
dataframe-sql==0.4.0
DBUtils==3.0.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dict==2020.12.3
diff-match-patch==20230430
dill==0.3.6
distlib==0.3.6
distutils-extra-python==2.39.2
distutils-pytest==0.2
distutils-ui==0.1.3
distutils644==0.4
dj-database-url==2.2.0
Django==5.0.4
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-filter==24.2
django-import-export==4.0.6
django-jazzmin==3.0.0
django-js-asset==2.2.0
django-meta==2.2.0
django-widget-tweaks==1.5.0
docopt==0.6.2
docstring-to-markdown==0.11
docutils==0.19
dominate==2.8.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
execnet==1.9.0
executing==1.2.0
fake-useragent==1.1.3
fanstatic==1.3
fastjsonschema==2.16.2
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.9.0
flake8==6.0.0
Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-MySQL==1.5.2
flask-mysql-connector==1.1.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.5
flask-sqlalchemy-extended==0.0.22
Flask-Sqlalchemy-QueryLog==0.0.0
Flask-WTF==1.1.1
Flask-WTF-Ext==0.2
flit==3.8.0
flit_core==3.8.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
geos==0.2.3
getname==0.1.1
gitdb==4.0.10
GitPython==3.1.30
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
h5py==3.8.0
httpcore==0.16.3
httpx==0.23.3
ibis-framework==1.4.0
icdiff==1.9.1
idna==3.4
imap==1.0.0
imap-mailbox==0.2.0
importlib-metadata==6.7.0
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
ipykernel==6.21.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.7.3
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
JPSLMenus==0.5.0
JPSLUtils==0.7.3
js.angular==1.1.4
js.angular-ui-calendar==0.9.0b1
js.fullcalendar==2.9.1
js.jquery==3.6.1
js.momentjs==2.13.1
jsn==1.2.2
jsnapy==1.3.7
jsntlib==1.5.0
json5==0.9.11
jsoncodable==0.1.7
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
junos-eznc==2.6.6
jupyter==1.0.0
jupyter-console==6.5.0
jupyter-events==0.5.0
jupyter-Pandas-GUI==0.7.1
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.2
jupyterlab_server==2.19.0
k-selenium-cookies==0.0.4
kiwisolver==1.4.4
kproxy==0.0.1
lark-parser==0.8.5
layout==0.4.1
layout-generator==0.6.0
layout-updater==0.0.4
layouts==0.4.10
lazy-object-proxy==1.9.0
llvmlite==0.40.1
lmfit==1.1.0
lml==0.1.0
lxml==4.9.2
MarkupSafe==2.1.3
marshmallow==2.19.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
memoized==0.3
messagebox==0.1.0
mistune==2.0.5
more-itertools==7.0.0
mpmath==1.2.1
msg-client==1.0.0
multidict==6.0.4
multipledispatch==0.6.0
mypy-extensions==1.0.0
mysql-connector-python==8.0.32
mysqlclient==2.2.0
natsort==8.4.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
ncclient==0.6.13
nest-asyncio==1.5.6
netaddr==0.8.0
networkx==3.1
noraise==0.0.16
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numba==0.57.1
numpy==1.24.1
numpy-dataframe==0.1.5
oauthlib==3.2.2
openpyxl==3.1.0
orjson==3.8.5
outcome==1.2.0
packaging==23.0
pandas==1.5.3py
pandas-addons==0.1.0
pandas-charm==0.3.0
pandas-cleaner==0.0.3
pandas-datadict==0.2.3
pandas-decimal==0.0.1
pandas-excel==0.2.0
pandas-excel-limitedrows==2.0.1
pandas-extensions==0.1
pandas-files==0.2.3
pandas_dataframe_convert==0.4
pandoc==2.3
pandocfilters==1.5.0
paramiko==3.0.0
parse==1.19.1
parso==0.8.3
pathspec==0.11.0
patsy==0.5.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.4.0
pip-command==0.1.3
pipreqs==0.4.13
platformdirs==3.0.0
plotly==5.13.0
pluggy==1.0.0
plumbum==1.8.1
ply==3.11
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
psycopg2==2.9.9
psycopg2-binary==2.9.6
pure-eval==0.2.2
py==1.8.0
py-email-validation==1.0.0.3
py-smtp==1.0.9
PyChromeDevTools==0.4
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.18.0
pydocstyle==6.2.3
pyee==8.2.2
pyexcel==0.7.0
pyexcel-io==0.6.6
pyflakes==3.0.1
pyfrozen==0.2.0
Pygments==2.14.0
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pyInstalls==1.0
PyJWT==2.6.0
pylint==2.16.2
PyMySQL==1.0.2
PyNaCl==1.5.0
pynndescent==0.5.10
pyodbc==4.0.35
pyparsing==3.0.9
pypeln==0.4.9
pyperclip==1.8.2
pypiwin32==223
pyppeteer==1.0.2
PyQt5==5.15.9
pyqt5-gui-yyj==0.1.12
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt5Designer==5.14.1
pyqtgraph==0.13.1
pyquery==2.0.0
pyrsistent==0.19.3
pyserial==3.5
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
PySide6-Fluent-Widgets==0.0.6
PySide6-Frameless-Window==0.0.16
PySide6-QtAds==4.0.1.1
PySideSix-Frameless-Window==0.0.2
PySignal==1.1.1
pySMTP==1.1.0
PySocks==1.7.1
pytest==4.4.1
pytest-asyncio==0.20.3
pytest-frozen-uuids==0.3.5
pytest-xdist==3.2.0
python-codicefiscale==0.6.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-dotenv-run==0.1.4
python-dotenv-yaml==0.17.1
python-fsutil==0.10.0
python-json-logger==2.0.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-signal==0.0.2
python-slugify==7.0.0
pytoolconfig==1.2.5
pytz==2022.7.1
pywin32==305
pywin32-ctypes==0.2.0
pywinpty==2.0.10
pyxlsb==1.0.10
PyYAML==6.0
pyzbar==0.1.9
pyzmq==25.0.0
QRegexEditor==0.5.3
qtconsole==5.4.0
QtPy==2.3.0
random-address==1.1.1
random-csv-generator==1.0.1
random-data-gen==0.1.3
random-dict==1.0.4
random-gen==1.0.0
random-generate==0.1.1
random-id==1.0.1
random-int==0.0.5
random-italian-person==1.0.3
random-names==0.1.0
random-num-py==1.0
random-number==0.0.3
redis==4.6.0
regex==2022.10.31
reportlab==4.2.0
requests==2.31.0
requests-file==1.5.1
requests-html==0.10.0
requests-oauth2==0.3.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rope==1.7.0
round-using-error==1.2.0
scanpy==1.9.3
scikit-learn==1.2.1
scipy==1.10.0
scp==0.14.5
seaborn==0.12.2
secure-smtplib==0.1.1
selenium==4.10.0
selenium-webdriver-extender==0.0.0
self==2020.12.3
Send2Trash==1.8.0
session-info==1.0.0
shiboken6==6.4.2
simplejson==3.19.2
six==1.16.0
smmap==5.0.0
smtp-mail==0.0.2
SMTPEmail==0.4.2
smtplibaio==2.1.2.post1
smtpmail==1.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spotipy==2.23.0
sql==2022.4.0
sql-connectors==1.0.2
sql-to-ibis==0.4.0
SQLAlchemy==2.0.19
sqlalchemy-meta==0.4.0
sqlalchemy-orm==1.2.10
sqlalchemy-schema-factory==0.1.0
sqlparse==0.4.3
stack-data==0.6.2
start-selenium-webdriver==0.3.1
statsmodels==0.14.0
stdlib-list==0.9.0
stopit==1.1.2
sympy==1.11.1
tablib==3.5.0
tenacity==8.2.1
terminado==0.17.1
text-unidecode==1.3
texttable==1.6.7
threadpoolctl==3.1.0
tinyaes==1.0.4
tinycss2==1.2.1
tldextract==3.4.4
to==0.3
toml==0.10.2
tomli_w==1.0.0
tomlkit==0.11.6
toolz==0.12.0
torch==2.0.1
tornado==6.2
tqdm==4.23.1
traitlets==5.9.0
transitions==0.9.0
trio==0.22.1
trio-websocket==0.10.3
twilio==8.3.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2022.7
ujson==5.7.0
umap-learn==0.5.3
uncertainties==3.1.7
undetected-chromedriver==3.5.0
uri-template==1.2.0
urllib3==2.0.3
uvicorn==0.24.0.post1
validation==0.8.3
validation-utils==0.0.1
validators==0.22.0
values==2020.12.3
virtualenv==20.21.0
virtualenvwrapper-win==1.2.7
visitor==0.1.3
w3lib==2.1.1
Wand==0.6.11
wcwidth==0.2.6
webcolors==1.12
webdriver-installer==1.0.0
webdriver-manager==3.8.6
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
whatthepatch==1.0.4
widgetsnbextension==3.6.2
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
WTForms-Ext==0.5
xlrd==2.0.1
XlsxWriter==3.0.8
xmltodict==0.13.0
xpath-utils==0.0.3
y-py==0.5.5
yamlordereddictloader==0.4.0
yapf==0.32.0
yarg==0.1.9
yarl==1.8.2
ypy-websocket==0.8.2
zipp==3.15.0
