{% extends  'main/base.html' %}
{% load static %}

{% block content %}
<section id="article_list2">
  
  <div class="my-container my-container-para my-container-bg  align-items-center "
  style="--margin-top:4em; --margin-right:5%; --margin-left: 5%; "    >
  <div class="container">
  
    <div class="card__container">
      {% for article in articles%}
      <article class="card__article"> 
        <img class = "card__img" src="{{article.thumb.url}}" alt="card img">
        <div class="card__data">
          <span class="card__description">{{article.slug}}</span>
          <h2 class="card__title">{{article.title}}</h2>
          <a href="{% url 'articles:article-detail-view' article.id %}" class="card__button">Read More</a> 

        </div>
      </article>
      {% endfor %}
    </div>  


  </div>



  </div>


</section>

<link rel="stylesheet" href="{% static 'css/custom-articles2.css' %}">

{% endblock %}
