{% extends  'main/base.html' %}
{% load static %}

{% block content %}
<section id="reset-password-section">
    <div class="container h-100 first-container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card general-card-input">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Reset Password</h3>
				</div>
        <div class="joven">
          <form action="{% url 'accounts:reset_Password' %}" class="form-fields-set " method="post" >
            {% csrf_token %}

						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"> <i class="bi bi-key"></i></span>
							</div>
							<input type="password" name="password1" placeholder="Password" class="form-control">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"> <i class="bi bi-key"></i></span>
							</div>
							<input type="password" name="password2" placeholder="Confirm Password" class="form-control">
						</div>
   
   
            <div class="row">
              <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Submit">
              </div>
          
            </div>

          </form>

        </div>

			</div>
		</div>
	</div>

</section>


 
 {% endblock %}
