.my-container.my-container-para{
  margin-top :5px;
}
img{
  display : block;
  max-width : 100%;
  height : auto;

}

/* card */

.container{
    display : grid;

    place-items : center;
    margin-inline :1.5rem;
    padding-block: 5rem;
    /* background-color :rgba(135, 10, 10, 0.494) */

}

.card__container{
  display : grid;
  row-gap :3.4rem;
  margin-bottom : 3rem;
  /* background-color: yellow; */
  /* padding : 1em 1em; */

}
.card__article{
  position : relative;
  overflow:hidden;

}
.card__img{
  width :328px;
  border-radius: 1.5rem;
}
.card__data{
  width : 280px;
  background-color:white;
  padding : 1.5rem 2rem;
  box-shadow: 0 8px 24px rgba(189, 153, 9, 0.748);
  border-radius : 1rem;
  position : absolute;
  bottom :-9rem;
  left : 0;
  right : 0;
  margin-inline: auto ;
  opacity :0;
  transition: opacity 1s 1s;

}
.card__description {
  display : block;
  font-size : var(--small-font-size );
  margin-bottom :.25rem;

}
.card__title{
  font-size :var(--h2-font-size);

  font-weight : 500;
  color : var(--title-color);
  margin-bottom : .75rem;
}
.card__button{
  text-decoration: None;
  font-size: var(--card-button-font-size) !important;
  font-weight: 500;
  color : rgb(132, 32, 7);
}
.card__button:hover{
  text-decoration: underline;
  color :rgb(198, 29, 6)!important;
  font-size: 20px;


}

/* naming animation */
.card__article:hover .card__data{
  animation : show-data 1s forwards;
  opacity : 1;
  transition: opacity .3s;

}
.card__article:hover{
animation : remove-overflow  2s forwards;
}

.card__article:not(:hover){
  animation : show-overflow 2s forwards;
}
.card__article:not(:hover) .card_data{
  animation : remove-overflow 1s forwards;
}


/* card animation */
@keyframes show-data {
  50%{
    transform: translateY(-10rem);

  }
  100%{
    transform: translateY(-7rem);
  }

  
}
@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}
@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(.5rem);
  }
}
@keyframes show-overflow{
  0%{
    /* overflow: initial; */
    overflow: hide;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

/* break points for small devices */
/* small devices */
@media screen and (max-width:390px) {
 .container{
  margin-inline :1rem;
 }
 .card__data{
  width : 180px;
  padding : 1rem;
 }

  
}
/* medium devices */
@media screen and (min-width:700px) { 
  .card__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap :1.5rem;

  }
  .card__data{
    width : 200px;
    padding : 1rem;
   }
  
}


/* large devices */
@media screen and (min-width:1120px) { 
  .container {
    height : 100vh;
  }
  .card__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap :1.5rem;
    

  }
  .card__img{
    width:348px;
  }

  .card__data{
    width : 230px;
    padding-inline: 2.5rem;
  }
}
