



#main-page .home-item-parag{
 
  justify-content: center;
}


#main-page .home-item-parag h3{

  text-align: center;
  color : var(--color-fb-blue);
  font-weight: 600;

}
#main-page .my-container{
  justify-content: space-evenly;
}
#main-page .my-container{
  justify-content: space-evenly;
}

#main-page .home-item-parag p{
  
  justify-content: center;
  font-size: 18px;
  color : var(--colorgold1 )
  
  
}
#main-page  .home-image{
  width : 20em;
  
}

