.table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size : 12px;
  width:100%;
  border: 5px solid rgba(11, 115, 119, 0.5);
  min-width:max-content;
  
}

.table img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

/* table header background color */
.table  th {
  border-collapse : separate;
  border : None;
  position: sticky;
  top :0;
  color :rgba(255, 255, 0, 0.898);
  background-color: rgba(10, 104, 104, 0.807);
  
  font-style: italic;
  font-weight: 400;
}
/* section header */
.table__header{
  background-color: rgba(13, 81, 91, 0.948);
  margin :5px;
  padding : 5px 10px;
  color : white;
  font-size : 16px;
}

/* text color, text */
#tbody td{
  /* border : None; */
  background-color: rgba(238, 238, 234, 0.722);
  padding : 5px 10px;
  color : rgb(6, 6, 49);
  font-weight: 500;
  justify-content: start;
  height :1em;

}

.table-outer-wrapper {
  border : 1px solid  white;
  padding : 2em 2em;
  box-shadow: var(--table-box-shadow-orange);
  border-radius: .8rem;
  max-height: 500px;
  background-color: rgba(222, 134, 11, 0.438);
  overflow-y: hidden;
  margin-bottom : 2em;
  
}




.table-wrapper {
  border : 3px solid rgb(231, 162, 162);
  /* padding :1rem 1rem; */


  background : rgba(212, 212, 196, 0.772);
  
  max-width :fit-content;
  max-height: 30em; 
  overflow: scroll;  
  
}

.table-wrapper::-webkit-scrollbar{
  width: .5rem ;
  height: .5rem;
}

.table-wrapper::-webkit-scrollbar-thumb{
 border-radius: .5rem; 
 background-color: rgba(205, 21, 21, 0.426);
 visibility: hidden;
}
.table-wrapper:hover::-webkit-scrollbar-thumb{
  border-radius: .5rem; 
  background-color: rgba(33, 23, 7, 0.705);
  visibility: visible;
 }
/* zebra */ 
#tbody  tr:nth-last-child(even){
  background-color: rgba(241, 249, 233, 0.362);
}
#tbody  tr:hover{
  background-color: rgb(238, 228, 34);
}

/* data table*/
.table__body .dt-input{
  background-color: rgba(18, 34, 124, 0.894);
color : rgb(109, 47, 17);
}

/* search*/
#dt-search-0,
#dt-length-0{
  color : rgb(119, 41, 7);
  background-color: aliceblue;
  
  font-weight:500;
  margin : 5px 10px;
  width : 50%;
}
#dt-search-0{
  font-size :14px;
}


.dt-layout-cell.dt-end, 
.dt-layout-cell.dt-start ,
.dt-search label,
.dt-length label{
  color : rgba(8, 0, 0, 0.961);
  background-color: rgba(166, 223, 227, 0.266);
  
  font-size :14px;
  font-weight:500;
  
  padding : 10px 10px;
}

 /* column sticky*/
 
/* .thead-light  th:nth-child(1), 
#tbody td:nth-child(1) {

  position : sticky;
  left: 0;
  background-color: rgb(228, 151, 52);

} */


/* thead tr th:nth-child(2),
#tbody td:nth-child(2){
 position : sticky;
 left: 92px;
 width :50px;

 background-color: antiquewhite;
} */

.reply-btn {
  aspect-ratio: 1;

}
.reply-btn .btn-reply-icon img{
  width : 15px;
  height : 15px;
  

}

#email-listview #btn-reply img{
  height:10px;
  width: 7px;
  vertical-align: -50%;
  
  
}



@media only screen and (max-width:600px){

.table img{
  height: 25px;
  width: 25px;
}

.table-outer-wrapper {
  padding : 5px 3px !important;
  border-radius: 5px;
  max-height: 350px;
  margin-bottom : 1em;  
  overflow-y: hidden;
}
#answered-email .table-outer-wrapper{
  height: 80em;
}
.table-wrapper {
  border : 3px solid rgb(231, 162, 162);
  background : rgba(212, 212, 196, 0.772);
  max-width :fit-content;
  max-height: 30em; 
  overflow: scroll;  
}

#answered-email  .table-wrapper{
  max-width :fit-content;
  height: 300px; 
  overflow: scroll;  
}

#email-listview #btn-reply img{
  height:10px;
  width: 7px;
  vertical-align: -50%;
  
  
}






}
